name: Docker Image CI

on:
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3    
    - name: Login to DockerHub Registry
      run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }} ${{ secrets.DOCKER_REGISTRY_HOST }}
      
    - name: Build the Docker image web
      run: docker build -f Dockerfile.web -t ${{ secrets.DOCKER_REGISTRY_HOST }}/checker-game-web:latest .
      
    - name: Build the Docker image worker
      run: docker build -f Dockerfile.worker -t ${{ secrets.DOCKER_REGISTRY_HOST }}/checker-game-worker:latest .
